body
{
	margin: 0;
	padding: 0px 60px;
	background-color: #ffffff;
	color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

}

h1
{
	font-size: 72px;
	font-weight: 400;
	color: black;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

h2{
	margin-bottom: 10px;
	margin-top: 10px;
}

h3{
	font-size: 24px;
}

#logo-footer{
	text-align: center;
	margin-top: 10px;
}

.copyright{
	text-align: center;
	border-top: 2px solid #333;
	font-size: 10px;
}

	

footer{
	background-color: #444;
	color: #fff;
	position: fixed;
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin-bottom: 0px;
}

#logo{
	color: red;
}

.main-nav{
	text-align: center;
}

.main-nav-list{
	position: relative;
}

.main-nav-list > li{
	display: inline-block; /* float: left */
	border-right: 2px dotted #444;
	padding: 0 20px;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	
}

.main-nav-list > li:nth-child(2){
	width: 280px; /* ?Is there a better way to move the list elements to the left so they are directly under "Kurs SQL"? */
}

.main-nav-list > li:first-child{
	border-left: 2px dotted #444;
	
}

.main-nav-list > li:hover{
	background-color: #eeeeee
}

.menu{
	position: absolute;
	list-style-type: none;
	text-align: center;
	display: none;
}

.menu > li{
	z-index: 100;
	background-color: white; /*fff is transparent */
	/*width: 280px; */ /*same width as parent element ol */
	
}

.menu > li:hover{
	background-color: #eeeeee;
}


#menu:hover .menu{
	display: block;
}





a:link{
	text-decoration: none;
	color: #444;
}

a:visited{
	text-decoration: none;
	color: #444;
}




#menu:hover .menu{
	/*display: block;*/
}


#begin-course-button{
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #16A085;
	border-color: #16A085;
	color: #fff;
}

#begin-course-button:hover{
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #16A085;
	border-color: #16A085;
	color: #fff;
	cursor: pointer;
}

.main-page-section {
	text-align:justify;
	margin: 0 60px;
	font-size: 14px;
}

#logos{
	text-align: center;
	margin: 30px 0;
}

.logos{
	display:inline-block;
	margin: 0 20px;
}

.logos > img{
	width: 64px;
	height: 64px;
}
